@model ShukriWebApplication.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkClassDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkClassDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkLectureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkLectureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BkEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BkEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExperienceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
