@model IEnumerable<ShukriWebApplication.Models.Booking>

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking Page</h1>



<!--------------------------------------------------------------------------------------------------->


<head>
    <meta charset="utf-8">

    <title>contacts list table - Bootdey.com</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="">
                        <table class="table project-list-table table-nowrap align-middle table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">User Name:</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col" style="width: 200px;">Delete</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model){
                                <tbody>
                                    <tr>
                                        <!--PROFILE-->

                                        <td>
                                            <div class="avatar-sm d-inline-block me-2">
                                                <div class="avatar-title bg-soft-primary rounded-circle text-primary"><i class="mdi mdi-account-circle m-0"></i></div>
                                            </div>
                                            <a class="text-body">@item.BookingName</a>
                                        </td>
                                        <td><span class="badge badge-soft-info mb-0">@item.BkClassName</span></td>
                                        <td> @item.BkClassDescription</td>
                                        <td>@item.BkStartDate- @item.BkEndDate</td>
                                        <td> @item.BkStartTime - @item.BkEndTime</td>

                                        <td>
                                            <ul class="list-inline mb-0">
                                  
                                                <li class="list-inline-item">
                                                    <a asp-action="Edit" asp-route-id="@item.ExperienceId" class="btn btn-danger"  data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                </li>

                                            </ul>
                                        </td>
                                        <!--PROFILE-->
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style type="text/css">


        .project-list-table {
            border-collapse: separate;
            border-spacing: 0 12px
        }

            .project-list-table tr {
                background-color: #fff
            }

        .table-nowrap td, .table-nowrap th {
            white-space: nowrap;
        }

        .table-borderless > :not(caption) > * > * {
            border-bottom-width: 0;
        }

        .table > :not(caption) > * > * {
            padding: 0.75rem 0.75rem;
            background-color: var(--bs-table-bg);
            border-bottom-width: 1px;
            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        }

        .avatar-sm {
            height: 2rem;
            width: 2rem;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .me-2 {
            margin-right: 0.5rem !important;
        }

        img, svg {
            vertical-align: middle;
        }

        a {
            color: #3b76e1;
            text-decoration: none;
        }

        .badge-soft-danger {
            color: #f56e6e !important;
            background-color: rgba(245,110,110,.1);
        }

        .badge-soft-success {
            color: #63ad6f !important;
            background-color: rgba(99,173,111,.1);
        }

        .badge-soft-primary {
            color: #3b76e1 !important;
            background-color: rgba(59,118,225,.1);
        }

        .badge-soft-info {
            color: #57c9eb !important;
            background-color: rgba(87,201,235,.1);
        }

        .avatar-title {
            align-items: center;
            background-color: #3b76e1;
            color: #fff;
            display: flex;
            font-weight: 500;
            height: 100%;
            justify-content: center;
            width: 100%;
        }

        .bg-soft-primary {
            background-color: rgba(59,118,225,.25) !important;
        }
    </style>

    <script type="text/javascript">

    </script>
</body>
