@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Tittle = "All User";
}





<h1>RESET USER PASSWORD</h1>

@if (Model.Any())
{
    foreach (var user in Model)
    {

        <div class="card md-3">

            <div class="card-body mb-3">
                <h5 class="card-tittle">@user.UserName</h5>
            </div>

            <div class="card-footer">
                @*asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@user.Id"*@

                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to reset this username password : @user.UserName ? If you are going to reset this password username make sure to enter the same user name in the box ')">
                        RESET PASSWORD
                    </button>        
            </form>
@*
                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>*@

        </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto">
                Create Role
            </a>
        </div>
    </div>
}